#main, #header, #logo, #menubar, #site_content, #footer {
   margin-left: auto;
   margin-right: auto;
}

#main {
   width: 910px;
}

#header {
   width: 890px;
}

#logo {
   width: 890px;
   position: relative;
   height: 200px;
   background: url(images/healthcare-spending.jpg),url(images/logo_bits.png);
   background-repeat: no-repeat, repeat;
   background-size: contain;
}

#logo #logo_text {
   position: absolute;
   top: 50;
   right: 0;
}

#logo h1, #logo h2 {
   font: normal 300% 'century gothic', arial, sans-serif;
   border-bottom: 0;
   text-transform: none;
   margin: 0;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover {
   padding: 25px 0 0 0;
   color: #0a0ed8;
   letter-spacing: 0.1em;
   text-decoration: none;
}

#logo_text h1 a .logo_color {
   color: #555;
}

#logo_text h2 {
   font-size: 170%;
   padding-left: 15px;
   padding-right: 15px;
   padding-top: 5px;
   color: #444;
   font-weight: bolder;
   background: #f8f8f8;
   text-align: left;
}

#logo_text {
   display: block;
   float: right;
}

#menubar {
   width: 890px;
   height: 35px;
   padding: 8px 0 0 0;
   margin: -45px 0 0 0;
   position: relative;
   z-index: 1;
   float: right;
}

ul#menu {
   float: right;
   margin: 0;
}

ul#menu li {
   float: left;
   margin: 5px 0 0 0;
   padding: 10px 5px 10px 16px;
   list-style-type: none;
   background: #82a4f2;
}

ul#menu li a {
   letter-spacing: 0em;
   font: normal 105% arial, sans-serif;
   text-transform: uppercase;
   disiplay: block;
   height: 20px;
   text-decoration: none;
   padding: 9px 22px 5px 16px;
   text-align: center;
   color: #fff;
   border: 0;
}

ul#menu li.selected {
   margin: 7px 0 0 0;
   background: #f8f8f8;
   color: #fff;
}

ul#menu li.selected a {
   color: #888;
}

ul#menu li a:hover {
   color: #888;
}
